.bg_right_events {
    background-color: $main_yellow;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 62%;
    right: 0;
    z-index: -1;
}

.bg_left_events {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 38%;
    z-index: -1;
}

.calendar_header {
	width: 100%;
	height: 80vh;
	min-height: 700px;
	background-image: url('/images/events/events-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.calendar_header_container {
		width: 80%;
		margin: 0 auto;
		height: 100%;
		display: flex;
		align-items: flex-end;
		.calendar_header_title {
			background-color: $main_blue;
			height: 200px;
			width: 20%;
			padding-left: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.title_yellow {
				font-size: 3rem;
				color: $main_yellow;
				margin-bottom: 0px;
			}
			.title_white {
				font-size: 2rem;
				color: white;
			}
		}
		.calendar_header_text {
			background-color: white;
			height: 200px;
			width: 45%;
			padding: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h4 {
				font-weight: bolder;
			}
			.text_body {

			}
		}

	}
}

.calendar_container {
	width: 80%;
	margin: 0 auto;
	.mae {
		width: 20%;
		background-color: $main_yellow;
		color: $main_black;
		text-align: center;
	}
	.events_container {
		width: 100%;
		margin: 100px auto;
		.event {
			display:flex;
			align-items: center;
			border: 1px solid $main_grey;
			background-color: white;
			img {
				width: 100px;
				height: 100px;
			}
			h1 {
				margin-bottom: 0px;
				font-size: 50px;
				text-align: center;
			}
			p {
				margin-bottom: 0px;
			}
			.event_date {
				width: 10%;
				margin: 0 20px;
				p {
					text-align: center;
				}
			}
			.event_info {
				width: 75%;
			}			
			.arrow_down {
				width: 35px;
				height: 35px;
				margin-right: 20px;
				cursor: pointer;
			}
		}	
		.extra_info {
			background-color: #dadada;
			display: none;
			padding: 50px;
			font-size: 16px;
			ul {
				padding-left: 12px;
			}
			button {
				background-color: $main_yellow;
				&:hover {
					border: 1px solid $main_black;
				}
			}
		}
	}
}