// //CALENDAR INDEX

.container_calendar {
	position: relative;
	.bg_left_calendar {
	    background-color: $main_yellow;
	    position: absolute;
	    height: 1000px;
	    width: 62%;
	    left: 0;
	    z-index: -1;
	}
	.bg_right_calendar {
	    background-color: white;
	    position: absolute;
	    height: 1000px;
	    width: 38%;
	    right: 0;
	    z-index: -1;
	}
}

.content_calendar {
	padding: 7rem 6rem 7rem 6rem;
    width: 100%;
    margin: 0 auto;
	h1 {
		font-weight: bolder;
	}
	hr {
		border-top: 3px solid white;
	}
	.calendar {
		margin-top: 50px;
		width: 100%;
		display: flex;
		.calendar_days {
			display: flex;
			flex-wrap: wrap;
			width: 50%;
			background-color: white;
			.event_day {
				padding-top: 10px;
				width: 50%;
				border: 1px solid lightgray;
				text-align: center;
				h1 {
					font-size: 4rem;
				}
				hr {
					border-top: 3px solid black;
					margin: 10px auto;
				}
				p {
					margin-bottom: 5px;
					padding: 0px 20px;
				}
				&:hover {
					background-color: $main_blue;
					color: white;
					transform: scale(1.1);
					cursor: pointer;
				}
			}
		}
		.calendar_events {
			width: 70%;
			background-color: blue;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('/images/barquitos.jpeg');
		}
	}
}