//CONTACTO INDEX

.contact_back {
	width: 100%;
	background-image: url('/images/contact-map-parallax.svg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 400px;
	margin-bottom: 50px;
	.contact_container {
		width:80%;
		margin: 0 auto;
		display: flex;
		padding: 50px 0px;
		.contact_form {			
			width: 65%;
			h1 {
				color: white;
			}
			hr {
				border-top: 3px solid $main_yellow;
		        margin: 2px 0px 25px;
			}
			.success {
				color: green;
			}
			@include breakpoint($sm){
				width: 100%;
			}
			@include breakpoint($xs){
				width: 100%;
			}
			form {
				input[type="text"] {
					@include breakpoint($sm){
						width: 100%;
					}
					@include breakpoint($xs){
						width: 100%;
					}
					width: 90%;
					margin: 20px 0;
					display:block;
					padding: 10px 0 10px 60px;
					background-repeat: no-repeat; 
				}
				.form_name {
					background-image: url('/images/icon-contact-name.png');	
					background-position: 10px 8px;									
				}
				.form_mail {
					background-image: url('/images/icon-contact-mail.png');
					background-position: 10px 10px;

				}
				.form_phone {
					background-image: url('/images/icon-contact-phone.png');
					background-position: 12px 8px;					
				}
				.form_message {
					background-image: url('/images/icon-contact-message.png');
					background-position: 10px 10px;				
				}
				textarea {
					@include breakpoint($sm){
						width: 100%;
					}
					@include breakpoint($xs){
						width: 100%;
					}
					width: 90%;
					margin: 20px 0;
					display:block;
					padding: 10px 0 10px 60px;
					background-repeat: no-repeat; 
					background-position: 10px 10px;
				}
				input[type="submit"] {
					width: auto;
					text-align: center;
					margin-top: 10px;
				}
				span {
					color: white;
					margin-left: 5px;
				}
				.alert {
					color: red;
				}				
			}			
		}
		.contact_img {
			@include breakpoint($sm){
				display: none;
			}
			@include breakpoint($xs){
				display: none;
			}
			width: 35%;
			img {
				width: 100%;
				min-height: 500px;
			}
		}
	}
}

