.downloads_header {
	width: 100%;
	height: 80vh;
	min-height: 700px;
	background-image: url('/images/downloads/downloads-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include breakpoint($md){
		height: 45vh;
		min-height: 300px;
	}
	@include breakpoint($sm){
		height: 30vh;
		min-height: 300px;
	}
	@include breakpoint($xs){
		height: 30vh;
		min-height: 300px;
	}
	.downloads_header_container {
		width: 80%;
		margin: 0 auto;
		height: 100%;
		display: flex;
		align-items: flex-end;
		@include breakpoint($sm){
			display: none;
		}
		@include breakpoint($xs){
			display: none;
		}
		.downloads_header_title {
			background-color: $main_blue;
			height: 200px;
			width: 20%;
			padding-left: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include breakpoint($md){
				width: 25%;
			}
			.title_yellow {
				font-size: 2.1rem;
				color: $main_yellow;
				margin-bottom: 0px;
			}
			.title_white {
				font-size: 2rem;
				color: white;
			}
		}
		.downloads_header_text {
			background-color: white;
			height: 200px;
			width: 45%;
			padding: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h4 {
				font-weight: bolder;
			}
			.text_body {

			}
		}

	}
}

.downloads_container {
	width: 80%;
	margin: 0 auto;
	.mae {
		width: 20%;
		background-color: $main_yellow;
		color: $main_black;
		text-align: center;
		@include breakpoint($md){
			width: 25%;
		}
		@include breakpoint($sm){
			display: none;
		}
		@include breakpoint($xs){
			display: none;
		}
	}
	.events_container {
		width: 100%;
		margin: 50px auto;
		@include breakpoint($xs){
		  margin: 15px auto;
		}
		@include breakpoint($sm){
		  margin: 15px auto;
		}
		.event {
			display:flex;
			align-items: center;
			border: 1px solid $main_grey;
			background-color: white;
			@include breakpoint($xs){
				flex-wrap: wrap;
			}
			img {
				width: 100px;
				height: 100px;
				@include breakpoint($sm){
					display: none;
				}
				@include breakpoint($xs){
					display: none;
				}
			}
			h1 {
				margin-bottom: 0px;
				font-size: 50px;
				text-align: center;
			}
			p {
				margin-bottom: 0px;
			}
			.event_date {
				width: 10%;
				margin: 0 20px;				
				@include breakpoint($sm){
					width: 15%;
				}
				@include breakpoint($xs){
					width: 100%;
				}
				p {
					text-align: center;
				}
			}
			.event_info {
				width: 95%;
				padding: 15px;
				@include breakpoint($sm){
					width: 70%;
					text-align: center;
					margin: 15px 0;
					padding: 0px;
				}
				@include breakpoint($xs){
					width: 100%;
					text-align: center;
					margin: 15px 0;
					padding: 0 10px;
				}
			}			
			.arrow_down {
				width: 35px;
				height: 35px;
				margin-right: 20px;
				cursor: pointer;
				@include breakpoint($sm){
					display: block;
					margin: 15px auto;
				}
				@include breakpoint($xs){
					display: block;
					margin: 15px auto;
				}
			}
		}	
		.extra_info {
			background-color: #dadada;
			display: none;
			padding: 20px 15px;
			font-size: 16px;
			ul {
				padding-left: 12px;
			}
			.button_calendar {
				background-color: $main_yellow;
				&:hover {
					border: 1px solid $main_black;
				}
			}
			.button_agenda {
				background-color: $main_yellow;
				display: inline-block;
				position: relative;
				z-index: 99998;
				font-family: "Open Sans",Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
				color: #000!important;
				font-weight: 600;
				line-height: 100%;
				font-size: 15px;
				text-decoration: none;
				border: 1px solid transparent;
				padding: 5px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				cursor: pointer;
			    box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
			    a{
			    	color: black;
			    	&:hover {
			    		text-decoration: none;
			    	}
			    }
				&:hover {
					border: 1px solid $main_black;
				}
			}
			button {
				background-color: $main_yellow;
				cursor: initial;
			}
		}
	}
}
