.downloads_header {
	width: 100%;
	height: 80vh;
	min-height: 700px;
	background-image: url('/images/downloads/download-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include breakpoint($sm){
		height: 30vh;
		min-height: 300px;
	}
	@include breakpoint($xs){
		height: 30vh;
		min-height: 300px;
	}
	.downloads_header_container {
		width: 80%;
		margin: 0 auto;
		height: 100%;
		display: flex;
		align-items: flex-end;
		@include breakpoint($sm){
			display: none;
		}
		@include breakpoint($xs){
			display: none;
		}
		.downloads_header_title {
			background-color: $main_blue;
			height: 200px;
			width: 20%;
			padding-left: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.title_yellow {
				font-size: 2.1rem;
				color: $main_yellow;
				margin-bottom: 0px;
			}
			.title_white {
				font-size: 2rem;
				color: white;
			}
		}
		.downloads_header_text {
			background-color: white;
			height: 200px;
			width: 45%;
			padding: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h4 {
				font-weight: bolder;
			}
			.text_body {

			}
		}

	}
}

.downloads_container {
	width: 80%;
	margin: 0 auto;
	.mae {
		width: 20%;
		background-color: $main_yellow;
		color: $main_black;
		text-align: center;
		@include breakpoint($sm){
			display: none;
		}
		@include breakpoint($xs){
			display: none;
		}
	}
	.download
	{
		min-height: 400px;
		padding: 75px 0px;
		display:flex;
		border-bottom: 1px solid $main_grey;
		width: 100%;
		@include breakpoint($sm){
			flex-wrap: wrap;
			padding: 25px 0px;
		}
		@include breakpoint($xs){
			flex-wrap: wrap;
			padding: 25px 0px;
		}
		hr {
			border-top: 3px solid $main_yellow;
		}
		.download_image {
			width: 60%;
			margin-right: 75px;
			@include breakpoint($sm){
				width: 100%;
				margin-right: 0px;
			}
			@include breakpoint($xs){
				width: 100%;
				margin-right: 0px;
			}
			img {
				width: 100%;
			}
		}
		.download_text {
			width: 100%;
			min-height: 250px;
			position: relative;
			h3 {
				@include breakpoint($sm){
					margin: 10px 0px;
					font-size: 20px;
				}
				@include breakpoint($xs){
					margin: 10px 0px;
					font-size: 20px;
				}
			}
			button {
				background-color: $main_yellow;
				display: flex;
				align-items: flex-end;
				position: absolute;
				bottom: 0;
				@include breakpoint($sm){
					position: relative;
				}
				@include breakpoint($xs){
					position: relative;
				}
				&:hover {
					border: 1px solid $main_black;
				}
			}
		}
		
	}
}