//FOOTER

.container_footer {
	position: relative;
	.bg_left_footer {
	    background-color: $main_blue;
	    position: absolute;
	    height: 130px;
	    width: 62%;
	    left: 0;
	    z-index: -1;
	    @include breakpoint($sm){
	    	position: relative;
	    	width: 100%;
	    	height: 90px;
	    }
	    @include breakpoint($xs){
	    	position: relative;
	    	width: 100%;
	    	height: 90px;
	    }
	    ul {
	    	text-align: left;
	    	padding-left: 30px;
	    	@include breakpoint($sm){
	    		text-align: center;
	    		padding-left: 0;
	    		margin: 0 auto;
	    	}
	    	@include breakpoint($xs){
	    		text-align: center;
	    		padding-left: 0;
	    		margin: 0 auto;
	    	}
	    	li {
    	      list-style: none;
    	      display: inline-block;
    	      padding: 15px;
    	      margin-top: 10px;
    	      @include breakpoint($md){
    	      	padding: 5px;
    	      }
    	      @include breakpoint($sm){
    	      	padding: 0px 10px;
    	      }
    	      @include breakpoint($xs){
    	      	padding: 0px 10px;
    	      }
    	      a {
    	        color: white;
    	        text-decoration: none;
    	        font-weight: bold;
    	        font-size: 16px;
		    	}
		    	hr {
					border-bottom: 3px solid $main_yellow;
					margin: 2px;
					@include breakpoint($sm){
						border: none;
					}
					@include breakpoint($xs){
						border: none;
					}
		    	}
	    	}
		}
	}
	.bg_right_footer {
	    background-color: $main_yellow;
	    position: absolute;
	    height: 130px;
	    width: 38%;
	    right: 0;
	    z-index: -1;
	    display:flex;
	    @include breakpoint($sm){
	    	position: relative;
	    	width: 100%;
	    }
	    @include breakpoint($xs){
	    	position: relative;
	    	width: 100%;
	    }
	    img {
	    	width: 100%;
    	    padding: 0px 0;
    	    margin-top: 20px;
    	    height: 100px;
	    }
	}
	.content_footer {
		width:80%;
		margin: 0 auto;
		background-color:red;
	}
}

