//MAE

.bg_right_mae {
    background-color: $main_yellow;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 62%;
    right: 0;
    z-index: -1;
}

.bg_left_mae {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 38%;
    z-index: -1;
}

.content_mae {
    padding: 7rem 0rem 7rem 6rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .info_mae {
        width: 50%;
        hr {
            border-top: 3px solid $main_yellow;
            margin: 2px 0px 25px;
        }
        h1 {
        font-weight: bold;
        }
        button {
            float:right;
            background-color: $main_yellow;
            text-transform: uppercase;
            color:white;
            margin-top: 10px;
        }
    }
    .hover_mae {
        width: 100%;
        display: flex;
        margin-left: 50px;
        .box {
            margin: 0 0.5rem;
            img {
                width: 530px;
            }
        }
    }
}

//MEDIA QUERIES

@media screen and (max-device-width: 1200px) {
  .hide-tablet {
    display: none;
  }
}
