//MAE

.bg_right_mae {
    background-color: $main_yellow;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 62%;
    right: 0;
    z-index: -1;
    @include breakpoint($sm){
      display: none;
    }
    @include breakpoint($xs){
      display: none;
    }
}

.bg_left_mae {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 38%;
    z-index: -1;
    @include breakpoint($sm){
      display: none;
    }
    @include breakpoint($xs){
      display: none;
    }
}

.content_mae {
    padding: 7rem 0rem 7rem 6rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @include breakpoint($sm){
      flex-wrap: wrap;
      padding: 0px;
    }
    @include breakpoint($xs){
      flex-wrap: wrap;
      padding: 0px;
    }
    .info_mae {
        width: 100%;
        @include breakpoint($sm){
          width: 100%;
          padding: 20px;
        }
        @include breakpoint($xs){
          width: 100%;
          padding: 20px;
        }
        hr {
            border-top: 3px solid $main_yellow;
            margin: 2px 0px 25px;
        }
        h1 {
            font-weight: bold;
            @include breakpoint($sm){
              font-size: 1.75rem;
            }
            @include breakpoint($xs){
              font-size: 1.75rem;
            }
        }
        button {
            float:right;
            background-color: $main_yellow;
            text-transform: uppercase;
            color:white;
            margin-top: 10px;
        }
    }
    .hover_mae {
        width: 120%;
        display: block;
        text-align: center;
        margin-left: 50px;
        @include breakpoint($sm){
          margin-left: 0px;
        }
        @include breakpoint($xs){
          margin-left: 0px;
        }
        .box {
            margin: 0 0.5rem;
            @include breakpoint($xs){
              margin: 0;
            }
            img {
                width: 650px;
                @include breakpoint($xs){
                  width: 100%;
                }
            }
            .second_image {
                @include breakpoint($xs){
                  display: none;
                }
            }
            .pc {
                @include breakpoint($sm){
                  display: none;
                }
                @include breakpoint($xs){
                  display: none;
                }
            }  
            .mobile {
                display: none;
                @include breakpoint($md){
                  display: none;
                }
                @include breakpoint($sm){
                  display: block;
                  width: 100%;
                }
                @include breakpoint($xs){
                  display: block;
                  margin: 0 auto;
                }
            }           
        }
    }
}
