//NAVBAR

header {
  width: 100%;
  background: #fff;
  @include breakpoint($md){
    border-bottom: 3px solid $main_yellow;
    height: 96px;
  }
  @include breakpoint($sm){
    border-bottom: 3px solid $main_yellow;
    height: 96px;
  }
  @include breakpoint($xs){
    border-bottom: 3px solid $main_yellow;
    height: 96px;
  }
  .logo_img {
    width: 250px;
    height: auto;
    float: left;
    padding: 15px 0px;
    display: none;
    @include breakpoint($sm){
      float: left;
      margin-left: 15px;
      display: block;
    }
    @include breakpoint($xs){
      float: left;
      margin-left: 15px;
      display: block;
    }
  }
  .hamburger {
    position: absolute;
    width: 30px;
    height: 25px;
    top: 40px;
    right: 30px;
    display: none;
    @include breakpoint($sm){
      display: block;
    }
    @include breakpoint($xs){
      display: block;
    }
  }
  nav {
    width: 100%;
    background: #fff;
    border-top: 6px solid $main_yellow;
    border-bottom: 3px solid $main_yellow;
    @include breakpoint($sm){
      width: 50%;
      height: 100%;
      margin: 0;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      border-top: none;
      border-bottom: none;
      border-right: 10px solid $main_yellow;
    }
    @include breakpoint($xs){
      width: 80%;
      height: 100%;
      margin: 0;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      border-top: none;
      border-bottom: none;
      border-right: 10px solid $main_yellow;
    }
    .logo_img_fake {
      width: 250px;
      height: auto;
      float: left;
      padding: 15px 0px;
      display: block;
      @include breakpoint($md){
        width: 175px;
      }
      @include breakpoint($sm){
        float: initial;
        margin-left: 15px;
        display: none;
      }
      @include breakpoint($xs){
        float: initial;
        margin-left: 15px;
        display: none;
      }
    }
    ul {
      width: 80%;
      position: relative;
      margin: 0 auto;
      padding: 0;
      text-align: right;
      @include breakpoint($md){
        width: 90%;
      }
      @include breakpoint($sm){
        width: 100%;
      }
      @include breakpoint($xs){
        width: 100%;
      }
      .close_menu {
        width: 25px;
        height: 25px;
        display: none;
        position: absolute;
        left: 10px;
        top: 10px;
        padding: 0px;
        @include breakpoint($sm){
          display: block;
        }
        @include breakpoint($xs){
          display: block;
        }
      }
      .logo_img_min {
        width: 250px;
        height: auto;
        padding: 15px 0px;
        display: none;
        @include breakpoint($sm){
          display: block;
          float: right !important;
          float: initial;
        }
        @include breakpoint($xs){
          display: block;
          float: right !important;
          float: initial;
        }
      }
      .hide_please {
        display: none;
        @include breakpoint($sm){
          display: block;
        }
        @include breakpoint($xs){
          display: block;
        }
      }
      li {
        list-style: none;
        display: inline-block;
        margin-top: 30px;
        color: black;
        &:hover {
          background: $main_yellow;
          cursor:pointer;
          color: white;
        }
        @include breakpoint($sm){
          display: block;
          float: none;
          margin-top: 10px;
          &:hover {
            background: white;
            color: black;
          }
        }
        @include breakpoint($xs){
          display: block;
          float: none;
          margin-top: 10px;
          &:hover {
            background: white;
            color: black;
          }
        }
        a {
          color: inherit;
          padding: 20px;
          text-decoration: none;
          font-weight: bold;
          display: inline-block;
          &:hover {
            text-decoration: none;
            color: #fff;
          }
          &:active {
            color: black;
          }
          @include breakpoint($md){
            padding: 10px;
            &:hover {
              color: black;
            }
          }
          @include breakpoint($sm){
            padding: 10px;
            font-size: 20px;
            &:hover {
              color: black;
            }
          }
          @include breakpoint($xs){
            padding: 10px;
            font-size: 20px;
            &:hover {
              color: black;
            }
          }
        }      
      }
    }
  }
}


.active_section {
  background: $main_yellow;
  cursor:pointer;
  color: white;
  @include breakpoint($sm){
    background-color: white;
    color: black;
  }
  @include breakpoint($xs){
    background-color: white;
    color: black;
  }
}
